body {
  background-color: #63B19C;
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
#home {
background-color: #FAE3D2;
.pinetki-picture{
	width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: -5px;
  margin-top: auto;
}
}
#home .two-column {
background-color: #E7E0DF;
}

#projects {
background-color: #FAE3D2;
.pinetki2-picture{
	width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: -4px;
  margin-top: auto;
}
.pinetki3-picture{
	width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: -4px;
  margin-top: auto;
}
}

#projects .two-column {
background-color: #E7E0DF;
}

#contacts {
background-color: #FAE3D2;
.me-picture {
  vertical-align: middle;
  width: 500px;
  height: 450px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 20px;
}
}

#contacts .two-column {
background-color: #E7E0DF;

}

#about {
background-color: #FAE3D2;
.me-picture {
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
}
.zarina-picture {
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
padding: 20px;
}
}

#about .two-column {
background-color: #E7E0DF;
}


h1 {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 500;
	font-size: 30px;


}
p {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-size: 15px;

}

header {
  background-color: #50A49C;

}
ul {
  list-style-type: none;
  margin: 0 0 0 40px;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 0 10px 0 10px;  
}

li a {
  display: block;
  padding: 2px;
  background-color: #50A49C;
  color: white;
  text-decoration: none;
}

header h2 {
  color: #fff;
  margin: 0;
  padding: 50px;
}
footer {
  background-color: #50A49C;
  padding: 5px;

}
footer p {
  color: #fff;
  margin: 0;
}

#container {
  width: 1100px;
  margin: 0 auto;
}
.two-column {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: #F7E12B;
}
.two-column div {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
}

.three-column {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  background-color: #D8F793;
}

.three-column div {
  background-color: #fff;
  margin-righ: 10px;
  margin-left: 10px;
}